<%- include('../partials/_upper.ejs')%>
    <h1 class="my-5" style="font-size: 4rem;">Update Article</h1>
    <form action="/articles/<%=article.id%>?_method=PUT" method="post" class="form" enctype="multipart/form-data">
        <%- include('../partials/_article_form.ejs') %>
    </form>
<%- include('../partials/_lower.ejs')%>